// Variables______________________________
// **** Colores ****
$primary-color:#005c81;
$secundary-color:#d40f60;
$tertiary-color:#f84339;
$quaternary-color:#e79a32;
$quinary-color:#368986;
$senary-color:#E90832;
$septenary-color:rgb(24, 24, 24);
$octonary-color:rgb(11, 11, 11);

// **** Text ****
$primary-text-color:black;
$secundary-text-color:white;
$primary-text-font:arial;
$secundary-text-font: 'Darumadrop One', cursive;

// **** Medidas ****
$section-height-size:100vh;

// Mixin___________________________________
// -- Grid --
@mixin Grid-System($column, $rows, $gap){
    display: grid;
    grid-template-columns: $column;
    grid-template-rows: $rows;
    grid-gap: $gap;
}
// -- Flex --
@mixin Flex-System($direction, $justy, $alig, $gap, $wrap){
    display: flex;
    flex-direction: $direction;
    justify-content: $justy;
    align-items: $alig;
    gap: $gap;
    flex-wrap: $wrap;
}
// -- Screen: 720px --
@mixin Screen-width($width){
    @media (max-width:$width) {
        @content;
    }
}

// Web Styles_____________________________
// Body.................
.body{
    background-color: $primary-color;
    padding: 0;
    margin: 0;
    font-family: $primary-text-font;
}
*h2::selection, *li::selection{
    background-color: $secundary-color;
    color: $secundary-text-color;
}
*a::selection, *p::selection{
    background-color: $quaternary-color;
    color: $secundary-text-color;
}
// Header nav.................
.header{
    background-color: $octonary-color;
    position: fixed;
    height: 100%;
    width: 10vw;
    min-width: 2em;
    z-index: 1;
    @include Grid-System(auto, 20vh auto, 0);

    &__logo{
        background-color: $octonary-color;
        background-image: url(../img/background/forest.jpg);
        background-size: cover;
        background-position: center;
    }
    &__background{
        height: 100%;
        background-color: $secundary-color;
        @include Flex-System(column, center, center, 0, nowrap);
        @include Screen-width(720px){background-color: #d40f61d7;}
    }
    &__a{
        user-select: none;
        // background-color: red;
        @include Flex-System(row, center, center, 0, nowrap);
    }
    &__img{
        // background-color: blue;
        object-fit: scale-down;
        width: 85%;
        height: 100%;
        transition: all 0.5s ease;
        @include Screen-width(720px){width: 50%;}
        filter: drop-shadow(0.2em 0.2em 0.1em black);
        
        &:hover{
            transition: all 0.5s ease;
            scale: 1.2;
        }
    }
    &__button{
        background-color: $octonary-color;
        color: $secundary-color;
        display: none;
        border: none;
        width: 5em;
        height: 5em;
        border-radius: 10em;
        transition: all 0.5s ease;

        &:hover{
            transition: all 0.5s ease;
            background-color: $secundary-color;
            color: $octonary-color;
        }
        &:active{
            transition: all 0.5s ease;
            background-color: $secundary-color;
            color: $octonary-color;
        }

        @include Screen-width(720px){
            display: block;
            position: absolute;
            top:89%;
            left:1em;
        }
    }
    &__svg{
        width: 60%;
        height: 60%;
    }
}
.nav{
    font-weight: bold;
    &__ul{
        @include Flex-System(column, center, center, 0, nowrap);
        background-color:$octonary-color;
        padding: 0;
        margin-top: 0;
        height: 100%;
    }
    &__li{
        height: 10%;
        width: 100%;
        list-style: none;
    }
    &__a{
        @include Flex-System(row, center, center, 0, nowrap);
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: $secundary-text-color;
        transition: all 0.5s ease; 
        font-size: 0.8em;

        &:hover{
            transition: all 0.5s ease;
            background-color: $secundary-color;
            font-size: 1em;
            text-shadow: 0.2em -0.2em 0.3em $octonary-color;
        }
        &:active{
            transition: all 0.5s ease;
            background-color: $secundary-color;
            font-size: 1em;
        }
    }
}

// Main.................
.main{
    background-color: $primary-color;
    @include Grid-System(auto, auto, 0 );
}
.section{
    min-height: $section-height-size;

    &__container{
        margin-left:10vw;
        @include Screen-width(720px){margin-left:0;}
    }
    &__li{
        list-style: none;
    }
}

// Section 0: Head.................
.section--head{
    background-color: $primary-color;
    background-image: url(../img/background/plastic_beach-1920x1080.png);
    background-position: center;
    background-size: cover;
    padding-top: 1.5em;
}
.section__container--head{
    @include Flex-System(column, space-around,center, 0, nowrap);
    height:100%;
}
.section__head{
    &-info{
        overflow: hidden;
        // background-color: #368986;
        @include Flex-System(row, space-between, center, 1em,nowrap);
        width: 100%;
        height: 100%;
    }
    &-title{
        user-select: none;
        // background-color: $quaternary-color;
        width: 45vw;
        margin-left: 2em;
        filter: drop-shadow(5em 0em 1em $secundary-text-color);
        transition: all 0.5s ease;

        &:hover{
            transition: all 0.5s ease;
            scale: 1.1;
            filter: drop-shadow(5em 0em 1em $secundary-color);
        }
    }
    &-img{
        user-select: none;
        // background-color: #f84339;
        bottom: 0em;
        right: 0em;
        position: absolute;
        height: 100%;
    }
    &-icono{
        user-select: none;
        position: absolute;
        bottom: 0em;
        background-color: $octonary-color;
        animation: icon-animation 1s ease infinite;
        transition: all 0.5s ease;
        text-shadow: 1px 2px 3px black;

        &:hover{
            transition: all 0.5s ease;
            opacity:0.8;
            // background-color: $secundary-color;
        }
    }
}
.section__img{
    user-select: none;
    &--head-title{
        filter: drop-shadow(5px 5px 1px $secundary-color);
        transition: all 0.5s ease;

        &:hover{
            transition: all 0.5s ease;
            filter: drop-shadow(5px 5px 1px $secundary-color);
        }
    }
    &--head-img{
        filter: drop-shadow(10px 10px 1px $septenary-color);
    }
}
.section__a--head-icono{
    font-size: 2em;
    color: $secundary-color;

    &:hover{
        color: $secundary-text-color;
    }
}
@keyframes icon-animation {
    0%{transform: translateY(2em);}
    25%{transform: translateY(0em);}
    100%{transform: translateY(2em);}
}

// Section Box 1: About.................
.section--box1{
    background-color: black;
}
.section__container--about{
    min-height: 100vh;
    @include Grid-System(auto, 45% 55%, 0);
    @include Screen-width(960px){@include Grid-System(auto, 30% 70%, 0)}
}
.section{
    &__h2--info-text{
        color: $primary-color;
        background-color: rgba(255, 255, 255, 0.8);
    }
    &__h2--info-list{
        color: $senary-color;
        background-color: rgba(255, 255, 255, 0.8);
    }
}
.section__about{
    &-img{
        text-align: center;
        @include Screen-width(720px){text-align: center;}
        background:linear-gradient($senary-color, #000000);
        overflow: hidden;
    }
    &-info{
        height: 80%;
        width: 97%;
        box-shadow: 0em -1em 1em 0em black;
        z-index: 99;
        padding: 2em 1em;
        @include Screen-width(960px){width: auto;}
        @include Grid-System(50% auto, auto, 2em);
        @include Screen-width(720px){@include Grid-System(100%, auto auto, 1em);}
    }
}
.section__info{
    &-text{
        padding: 0 1em;
        background-color:$primary-color;
        color: $secundary-text-color;
        text-align: center;
        box-shadow: 1em -1em 1px 0em #005c8179;
        transition: all 0.5s ease;
        
        &:hover{
            transition: all 0.5s ease;
            box-shadow: 0em 0em 0px 0em #005c8179;
        }
    }
    &-list{
        padding: 0 1em;
        background-color:$senary-color;
        color: $secundary-text-color;
        text-align: center;
        box-shadow: 1em -1em 1px 0em #E90832a9;
        transition: all 0.5s ease;

        &:hover{
            transition: all 0.5s ease;
            box-shadow: 0em 0em 1px 0em #E90832a9;
        }
    }
}
.section__ul--info-list{
    padding-left: 0;
    @include Flex-System(column, center, center, 0.2em, wrap);
}
.section__img--about-img{
    width: auto;
    height: 47vh;
    @include Screen-width(720px){
        transform: translateY(-2em);
        object-fit:scale-down;
        width: 90vw;
    }
    filter: drop-shadow(10px 1px 5px black);
}

// Section Box 2: Band.................
.section--box2{
    background-color: $tertiary-color;
}
.section__container--band{
    height: 100%;
    // background-color: yellowgreen;
    @include Grid-System(50% 50%, 50% 50%, 0em);
    @include Screen-width(960px){ @include Grid-System(100%, 25% 25% 25% 25%, 0);}
    overflow: hidden;
}
.section__background-filter{
    @include Flex-System(row-reverse, space-evenly, center, 0, nowrap);
    width: 100%;
    height: 100%;
}
.section__background{
    @include Flex-System(row-reverse, space-evenly, center, 0, nowrap);
    transition: all 1s ease;

    &--member-1:hover{
        background-image: url(../img/background/2D_background.png);
        background-size: cover;
        background-position: center;
        filter: drop-shadow(10px 10px 5px black);
    }
    &--member-2:hover{
        background-image: url(../img/background/murdoc-background.png);
        background-size: cover;
        background-position: center;
        filter: drop-shadow(10px 10px 5px black);
    }
    &--member-3:hover{
        background-image: url(../img/background/noodle_background.png);
        background-size: cover;
        background-position: center;
        filter: drop-shadow(10px 10px 5px black);
    }
    &--member-4:hover{
        background-image: url(../img/background/russel_background-2.png);
        background-size: cover;
        background-position: center;
        filter: drop-shadow(10px 10px 5px black);
    }
}
.section__member{
    &-name{
        // background-color: $senary-color;
        font-size: calc(1em + 1.5vw);
    }
    &--member-1{
        background:linear-gradient($primary-color, white);
    }
    &--member-2{
        background:linear-gradient($quinary-color, white);
        @include Screen-width(960px){
            box-shadow: 0em -1em 1em 0em white;
            z-index: 99;
        }
    }
    &--member-3{
        background:linear-gradient(white, $secundary-color);
        box-shadow: -1em -1em 1em 0em white;
        z-index: 99;
    }
    &--member-4{
        background:linear-gradient(white, $quaternary-color);
        box-shadow: 1em -1em 1em 0em white;
        @include Screen-width(960px){box-shadow: 0em -1em 1em 0em white;}
        z-index: 99;
    }
}
.section__h2{
    &--member-1{
        color: $secundary-text-color;
        text-shadow: 5px 5px 5px $octonary-color;
    }
    &--member-2{
        color: $primary-text-color;
        text-shadow: 5px 5px 5px $secundary-text-color;
    }
    &--member-3{
        color: $secundary-text-color;
        text-shadow: 5px 5px 5px $octonary-color;
    }
    &--member-4{
        color: $primary-text-color;
        text-shadow: 5px 5px 5px $secundary-text-color;
    }
}
.section__img--member-photo{
    // object-fit: scale-down;
    height: 49.5vh;
    margin-top: 0.5em;
    filter: drop-shadow(10px 5px 1px black);
    @include Screen-width(960px){height: 24vh;}
}


// Section Box 3: Discography.................
.section--box3{
    background-color: $quaternary-color;
}
.section__container--discography{
    height: 100%;
    // overflow: hidden;/**/
}
.section__album{
    height: 100%;
    margin:0 5vw 0 5vw;
    // overflow: hidden;/**/
    @include Grid-System(50% 50%, 100%, 1em);

    &-img{
        // background-color: blue;
        padding: 1em;
    }
    &-text{
        // background-color: $tertiary-color;
        padding: 0 1em;
    }
}
.section__album{
    &-background--album-0{
        text-align: center;
        @include Flex-System(column, center, center, 0, wrap);
        width: 100%;
        height: 100%;
        transform: translateX(-35em);
        transition: all 1s ease;
    }
    &-background--album-0.activo{
        transform: translateX(0em);
        background-color: #d40f61ef;
        transition: all 1s ease;
    }
    &--album-0{
        height: 100%;
        margin:0;
        @include Grid-System(auto 60%, 100vh, 0);
        // background-color: #005c81;
    }
    &-text--album-0{
        // background-color: $quaternary-color;
        margin-right: 6vw;
        @include Flex-System(column, center,flex-end, 0, nowrap);
    }
    &-img--album-0{
        background-image: url(../img/background/gorillaz-1.png);
        background-size: cover;
        // background-position:center;
        @include Screen-width(720px){width: 100%;}
        padding: 0em;
    }
}
.section__img--album{
    filter: drop-shadow(10px 10px 10px black);
    object-fit: scale-down;
    transition: all 1s;

    &:hover{
        transform: scale(1.05);
        transition: all 1s ease;
    }
}
.album-text{
    &__h2{
        font-size: 2.5em;
        text-shadow: 0.1em 0.1em 0.2em black;

        &--album-0{
            font-size: 4em;
            text-shadow: 0.3em -0.3em 1px $secundary-color;
            // text-shadow: 0.1em -0.1em 1px $secundary-color;
            @include Screen-width(720px){font-size: 2.1em;}
            transition: all 0.6s ease;

            &:hover{
                // text-shadow: 0.3em -0.3em 1px $secundary-color;
                text-shadow: 0.1em -0.1em 1px $secundary-color;
            }
        }
    }
    &__ul{
        text-align: right;
    }
    &__li{
        list-style: none;
    }
    &__span{
        font-weight: bold;
    }

}

.slide{
    background-size: cover;
    background-position: center;

    &--album-0{
        background-color: $octonary-color;
        color: $secundary-text-color;
    }
    &--album-1{
        background-image: url(../img/background/arid-texture.jpg);
        color: $secundary-text-color;
    }
    &--album-2{
        background-image: url(../img/background/blue-texture.jpg);
        color: $secundary-text-color;
    }
    &--album-3{
        background-image: url(../img/background/rusty-texture.jpg);
        color: $secundary-text-color;
    }
    &--album-4{
        background-image: url(../img/background/rain_texture.jpg);
        color: $secundary-text-color;
    }
    &--album-5{
        background-image: url(../img/background/dark-texture.jpg);
        color: $secundary-text-color;
    }
    &--album-6{
        background-image: url(../img/background/mix-texture.jpg);
        color: $secundary-text-color;
    }
    &--album-7{
        background-image: url(../img/background/paint-texture.jpg);
        color: $secundary-text-color;
    }
}
.fp-controlArrow.fp-next, .fp-controlArrow.fp-prev{
    top:96%;
    @include Screen-width(720px){ top:93%;}
}
.fp-controlArrow.fp-next{
    right: 1em;
    @include Screen-width(720px){right: 20vw;}
    border-width: 20px 0px 20px 20px;
    border-color:  transparent transparent transparent $secundary-color;
    filter: drop-shadow(0.2em 0.2em 0.1em black);

    &:hover{
        border-color:  transparent transparent transparent #d40f61b8;
    }
    &:active{
        border-color:  transparent transparent transparent #d40f60;
    }
}
.fp-controlArrow.fp-prev{
    left: 85vw;
    @include Screen-width(720px){left:60vw;}
    border-width: 20px 20px 20px 0;
    border-color:  transparent $secundary-color transparent transparent;
    filter: drop-shadow(0.2em 0.2em 0.1em black);

    &:hover{
        border-color:  transparent #d40f61c6 transparent transparent;
    }
    &:active{
        border-color:  transparent #d40f60 transparent transparent;
    }
}

// Section Box 4: Gallery.................
.section--box4{
    background-color: $primary-color;
    background-image: url(../img/background/apartment.jpg);
    background-position: center;
    background-size: cover;
}
.section{
    &__h2--gallery-title{
        // background-color: $quinary-color;
        color: $primary-color;
        font-size:3em;
        margin: 0.1em 1em;
    }
    &__container--gallery{
        // background-color: rgba(0, 0, 0, 0.85);
        // background-color: #d40f61a4;
        background-color: #005c81c7;
        height: 100%;
        @include Grid-System(auto, 15vh 85vh, 0);
    }
    &__buttons-nav{
        @include Flex-System(row, space-around, flex-start, nowrap, 0);
        @include Screen-width(720px){justify-content: center; gap: 3em;}
    }
    &__button{
        color: $secundary-color;
        background-color: $octonary-color;
        font-size: 2.5em;
        border: 0;
        cursor: pointer;
        transition: all 0.5s ease;

        &:hover{
            opacity: 0.5;
            transition: all 0.5s ease;
            color: $octonary-color;
            background-color: $secundary-color;
        }
    }
}

.section__gallery{
    &-title{
        background-color: $octonary-color;
        @include Flex-System(row, flex-start, flex-end, 0, nowrap);
    }
    &-content{
        // background-color: $primary-color;
        @include Grid-System(100%, 90% 10%, 0);
        @include Screen-width(720px){ @include Grid-System(100%, 75% 25%, 0);}
    }
    &-items{
        user-select: none;
        // background-color: $tertiary-color;
        @include Flex-System(row, flex-start, center, 0, nowrap);
        scroll-behavior: smooth;
        overflow-y: auto;
        @include Screen-width(480px){overflow-x: auto;}
        overflow-x: hidden;
        // height: 95%;
        padding: 0;
    }
}
.gallery-figureBox{
    padding-top: 1em;
    background-color: $octonary-color;
    transition: all 0.5s ease;
    @include Flex-System(column, center, center, 0, nowrap);
    cursor: zoom-in;

    &:hover{
        transform: scale(1.1);
        transition: all 0.5s ease;
    }
    &__img{
        height: 60vh;
        width: 20em;
        object-fit:scale-down;
        @include Screen-width(720px){width: 16em;height:45vh;object-fit:scale-down;}}
    &__figcaption{
        padding: 0.5em;
        // background-color: orange;
    }
    &__h3{
        // background-color: rebeccapurple;
        margin: 0em;
        color: $secundary-text-color;
    }
}
.gallery-figureBox.activo{
    background-color: rgba(0, 0, 0, 0.95);
    height: 105vh;
    width: 100vw;
    transform:translateY(-1em);
    // transform: translateX(5em);
    position:absolute;
    transition: all 0.5s ease;
    cursor: default;
    z-index: 9999;
}
.gallery-figureBox__container{
    // background-color: yellow;
    @include Flex-System(column, space-around, center, 0, nowrap);
}
.gallery-figureBox__container.activo{
    transform: scale(1.5);
    @include Screen-width(720px){transform: scale(1.3);}
    object-fit:scale-down;
    transition: all 0.5s ease;
    cursor:zoom-out;
}
.section__gallery-items.activo{
    @include Flex-System(row, center, center, 0, nowrap);
    transition: all 0.5s ease;
}

// Section Box 4: Footer .................
.footer{
    background-color: $septenary-color;
}
.footer__section{
    overflow: hidden;
    &--info{
        height: 35vh;
        // background-color: greenyellow;
        @include Grid-System(100%, 70% 30%, 0);
        @include Screen-width(720px){@include Grid-System(100%, 70% 30%, 0);}
    }
    &--background{
        height: 65vh;
        // background-color: rebeccapurple;
        background-image: url(../img/background/gorillaz_baby-queen.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-position:top;
    }
}
.footer{
    &__items{
        // background-color: rosybrown;
        @include Flex-System(row, center, center, 0, nowrap);
    }
    &__title{
        color: $secundary-text-color;
        font-size: 1em;
        background-color: $octonary-color;
        @include Flex-System(row, center, center, 0.5em, nowrap);
    }
}
.footer{
    &__ul{
        padding: 0;
        // background-color: greenyellow;
        @include Flex-System(row, center, center, 1em, nowrap);
    }
    &__li{
        list-style: none;
    }
    &__a{
        color: $secundary-text-color;
        text-decoration: none;

        &--personal-links{
            transition: all 0.5s ease;
            &:hover{
                transition: all 0.5s ease;
                color: $quaternary-color;
            }
        }
        &--links{
            @include Flex-System(row, center, center, 0, nowrap);
            background-color: $octonary-color;
            height: 1.5em;
            width: 1.5em;
            font-size: 2em;
            transition: all 0.5s ease;
    
            animation-name: animation_background_links;
            animation-duration: 13s;
            animation-iteration-count: infinite;
    
            &:hover{
                transition: all 0.5s ease;
                transform:translateY(-0.5em);
            }
            &:active{
                transition: all 0.5s ease;
                transform:translateY(-0.5em);
            }
        }
    }
}

@keyframes animation_background_links {
    100%{color: $primary-color; border: 2px solid $primary-color;}
    80%{color: $secundary-color; border: 2px solid $secundary-color;}
    60%{color: $tertiary-color; border: 2px solid $tertiary-color;}
    40%{color: $quaternary-color; border: 2px solid $quaternary-color;}
    20%{color: $quinary-color; border: 2px solid $quinary-color;}
    0%{color: $senary-color; border: 2px solid $senary-color;}
}

// Media___________________________________
// Header Nav
@media screen and (max-width:720px) {
    .header{
        background:transparent;

        @include Grid-System(auto, auto, 0);
        &__logo{
            display: none;
        }
    }

    .nav{
        width: 0vw;
        height: 100%;
        overflow: hidden;
        transition: all 1s ease;

        &__ul{
            @include Flex-System(column, center, center, 1em, nowrap);
        }
        &__a{
            color: $secundary-text-color;
            font-size: 1.3em;
        }
        &.activo{
            width: 100vw;
            height: 100%;
        }
    }
}
// Section head
@media (max-width:960px) {
    .section__head{
        &-info{
            @include Grid-System(100%,20vh 80vh, 0);
        }
        &-title{
            @include Flex-System(row, center, center, 0, nowrap);
            width: 100%;
            height: 100%;
            margin-left: 0;
        }
        &-img{
            @include Flex-System(row, center, center, 0, nowrap);
            position: relative;
        }
    }
    .section__img{
        &--head-title{
            object-fit:scale-down;
            // width: 21em;
            width: 95%;
        }
        &--head-img{
            transform: translateY(-1em);
            object-fit: scale-down;
            width: 95%;
            height: 90%;
        }
    }
}
@media (max-width:480px) {
    .section__head{
        &-title{
            @include Flex-System(row, flex-start, center, 0, nowrap);
        }
    }
}
// Section Discography
@media (max-width:720px) {
    .section__album{
        height: 90%;
        @include Grid-System(100%, 40vh 60vh, 0);
    }
}